.statusHeaderDiv {
    border: 2px solid lightgrey;
    padding: 0.85rem 1rem;
};

.statusLabel {
    font-weight: bold;
    padding: 0rem 0.5rem 0rem 1rem;
    color: #5a5a5a;
};

.statusInfo {
    font-weight: bold;
    padding: 0rem 0rem 0rem 0rem;
    color: #ffa500;
};
