# Ignore node_modules since we'll install them inside the container
node_modules
npm-debug.log
yarn-error.log

# Ignore local environment files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore build output (Next.js build artifacts)
.next
out

# Ignore test-related files
coverage
*.log

# Ignore editor-specific files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore MacOS and Linux system files
.DS_Store
*.swp

